<section class="documentation">
	<div class="container grid">
		<div class="u-flex documentation-image grid-cell grid-cell--col6 grid-cell--col12--mobile">
			{{ partial "svg/documentation.html" . }}
		</div>
		<div class="section documentation-content grid-cell grid-cell--col6 grid-cell--col12--mobile">
			<h4 class="title is-regular is-body u-vspace--8">documentation</h4>
			<h2 class="title is-title">CARTO.vl</h2>
			<p class="text is-body u-tspace--32">We have created the most amazing documentation that we could do.</p>
			<p class="text is-body u-tspace--16">Please take a look and enjoy, obviously if you find any bugs or you have some feedback, ping us :)</p>
			<a href="https://github.com/CartoDB/carto-vl" class="button button--medium is-baseGreyOutline u-tspace--64">
				<span>go to documentation</span>
			</a>
		</div>
	</div>
</section>
