<section id="how-to">
	<div class="container grid">
    <div class="section grid-cell grid-cell--col10 grid-cell--col12--mobile">
			<h2 class="title is-title">How to submit your map?</h2>
			<p class="text is-body u-tspace--32">For better visualization, we have decided to use <a href="https://bl.ocks.org/">bl.ocks.org</a> application. It is a simple viewer for sharing code examples hosted on <a href="https://gist.github.com/">GigHub Gist</a>.</p>
			<p class="text is-body u-tspace--16">For <strong>experienced users</strong>, you can create directly your final map in your Gist Account following <a href="https://bl.ocks.org/-/about">these instructions</a>. This is an <a href="http://gist.github.com/ivanmalagon/9526cbbf75c1f8f1e78e9079c763fee1">example</a>.</p>
      <p class="text is-body u-tspace--16">For not <strong>experienced users</strong>, we have found a very easy tool for creating your map, it is called <a href="http://blockbuilder.org">blockbuilder.org</a>.</p>
      <p class="text is-body u-tspace--16">Go there, click <strong>"Start coding"</strong> and the builder will appear. <strong>Log in</strong> with your GitHub account in order to <strong>save your map</strong> when it is ready. Here it is an <a href="http://blockbuilder.org/xavijam/6a43fa80be84c3ba0e5512e51c99b75c">example</a> how a map could look like.</p>
			<p class="text is-body u-tspace--16">Advices:</p>
			<ul class="rules-list text is-body u-tspace--32">
				<li class="u-vspace--8">– &nbsp;We encourage you to make your dataset(s) public, in order to not use an API key.</li>
				<li class="u-vspace--8">– &nbsp;Unfortunately it is necessary an API key to make CARTO.js library work, but it is not necessary to use a real one if your dataset is public, so you can use a fake one.</li>
			</ul>
		</div>
	</div>
</section>
