<section id="how-to">
	<div class="container grid">
    <div class="section grid-cell grid-cell--col10 grid-cell--col12--mobile">
			<h2 class="title is-title">How to submit your map?</h2>
			<p class="text is-body u-tspace--32">We will only ask you for a URL where we can see your map. It's up to you whether you want to use <a href="https://pages.github.com/">GitHub pages</a> from your project repo, <a href="https://bl.ocks.org/">bl.ocks.org</a> or even set up your own map service!</p>
			<p class="text is-body u-tspace--16">If for instance you want to use <strong>bl.ocks.org</strong>, you can create directly your final map in your Gist Account following <a href="https://bl.ocks.org/-/about">these instructions</a>, or even use something like <a href="http://blockbuilder.org">blockbuilder.org</a>, which simplifies the process a bit.</p>
			<p class="text is-body u-tspace--16">Hints:</p>
			<ul class="rules-list text is-body u-tspace--32">
				<li class="u-vspace--8">– &nbsp;We encourage you to make your dataset(s) public, and simply use the <code>default_public</code> API key, but feel free to do otherwise.</li>
			</ul>
		</div>
	</div>
</section>
