<section class="jury">
	<div class="container section">
		<div class="grid-cell--col8 grid-cell--col12--mobile">
			<h2 class="title is-title">Discover our jury</h2>
			<p class="text is-body u-tspace--24">The toughest jury you could ever imagine. They are totally incorruptible so please avoid bribing them with a present. Each will be responsible for one category and they will together choose the <strong>Best Overall Map</strong>.</p>
		</div>
		<div class="grid-cell--col12 u-tspace--64">
			<ul class="jury-list u-flex">
				<li class="jury-listItem">
					{{ partial "svg/people/christian.html" . }}
					<p class="title is-subtitle">Christian Peratsakis</p>
					<p class="text is-small">Most sales oriented map</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/emilio.html" . }}
					<p class="jury-name title is-subtitle">Emilio García</p>
					<p class="text is-small">Most innovative</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/mamata.html" . }}
					<p class="title is-subtitle">Mamata Akella</p>
					<p class="text is-small">Best cartography map</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/rochoa.html" . }}
					<p class="title is-subtitle">Raúl Ochoa</p>
					<p class="text is-small">Best CARTO VL feedback</p>
				</li>
				<li class="jury-listItem">
					{{ partial "svg/people/ashley.html" . }}
					<p class="title is-subtitle">Ashley Simcox</p>
					<p class="text is-small">Most interesting topic</p>
				</li>
			</ul>
		</div>
	</div>
</section>
