<section class="register">
	<div class="container">
		<div class="register-content grid-cell grid-cell--col7">
			<h1 class="text title is-jumbo register-title">{{ .Site.Title }}</h1>
			<h3 class="text is-subheader u-tspace--24">Code and design your best map with our new library</h3>
			<a href="https://docs.google.com/forms/d/1fTpWSuNIPYLakn-vbXm476uFIScFK7f2YVC2uwgUwh8" class="button is-baseGrey u-tspace--48">
				<span>submit your map</span>
			</a>
		</div>
		<div class="register-banner">
			<div class="container">
				<p class="text is-body grid grid--center">
					{{ partial "svg/watch.html" . }}
					<span class="u-lspace--12">21th November 2:00pm UTC (15h Madrid, 8am NY, 16h Tartu)</span>
				</p>
			</div>
		</div>
	</div>

	<ul class="register-participants u-flex">
		<li class="register-participant">{{ partial "svg/people/noguerol.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/juanma.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/emilio.html" . }}</li>
		<li class="register-participant is-inFront">{{ partial "svg/people/eva.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/marias.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/rochoa.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/ashley.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/luisico.html" . }}</li>
		<li class="register-participant is-inFront">{{ partial "svg/people/mamata.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/cillas.html" . }}</li>
		<li class="register-participant is-inFront">{{ partial "svg/people/ben.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/matallo.html" . }}</li>
		<li class="register-participant is-inFront">{{ partial "svg/people/sancha.html" . }}</li>
		<li class="register-participant is-inFront">{{ partial "svg/people/sally.html" . }}</li>
		<li class="register-participant">{{ partial "svg/people/ruben.html" . }}</li>
	</ul>
	<div class="register-donut">
		<span class="register-donutMiddle"></span>
	</div>
</section>
