<section class="rules">
	<div class="container section">
		<h4 class="title is-regular is-body u-vspace--8">rules</h4>
		<h2 class="title is-display">Everybody can participate!!!</h2>
		<ul class="rules-list text is-body u-tspace--32">
			<li class="u-vspace--8">– &nbsp;1-3 people per team, and there can only be one member of the Frontend team per group.</li>
			<li class="u-vspace--8">– &nbsp;Create a fantastic map using the new CARTO.vl library.</li>
			<li class="u-vspace--8">– &nbsp;You have 24 hours to complete it.</li>
		</ul>
	</div>
</section>
