<section class="support">
	<div class="container section grid-cell">
		<div class="grid-cell--col8">
			<h4 class="title is-regular is-body u-vspace--8">support</h4>
			<h2 class="title is-title">Do you need any help?</h2>
			<p class="text is-body u-tspace--32">We are sure that Pablo, Iván, Jesús, and Iago will help you with anything you may need.</p>
			<a href="https://cartoteam.slack.com/archives/C81UD0YF5" target="_blank" class="buttonLink is-jade u-tspace--64">
				{{ partial "svg/arrow-link.html" . }}
		  	Join our Slack channel
		  </a>
		</div>
	</div>

	{{ partial "svg/slack.html" . }}
</section>
