<section class="support">
	<div class="container section grid-cell">
		<div class="grid-cell--col8">
			<h4 class="title is-regular is-body u-vspace--8">support</h4>
			<h2 class="title is-title">Do you need any help?</h2>
			<p class="text is-body u-tspace--32">Anyone on the CARTO VL development team will help you with anything you may need.</p>
			<a href="https://cartoteam.slack.com/messages/CAR6XV6CC/convo/C029Y1F57-1526482170.000608/" target="_blank" class="buttonLink is-jade u-tspace--64">
				{{ partial "svg/arrow-link.html" . }}
		  	Join the #hackarto-vl Slack channel
		  </a>
		</div>
	</div>

	{{ partial "svg/slack.html" . }}
</section>
